body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #008081;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

body,
icon {
    font-family: Helvetica, Arial, Sans-Serif
}

body ::-webkit-scrollbar {
    width: 16px;
    height: 16px;
    background: 0 0
}

body ::-webkit-scrollbar-button,
body ::-webkit-scrollbar-thumb {
    width: 16px;
    height: 16px;
    background: silver;
    box-shadow: inset 1px 1px #dfdfdf, inset -1px -1px gray;
    border: 1px solid;
    border-color: silver #000 #000 silver
}

body ::-webkit-scrollbar-track {
    image-rendering: optimizeSpeed;
    image-rendering: pixelated;
    image-rendering: optimize-contrast;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgLTAuNSAyIDIiIHNoYXBlLXJlbmRlcmluZz0iY3Jpc3BFZGdlcyI+CjxtZXRhZGF0YT5NYWRlIHdpdGggUGl4ZWxzIHRvIFN2ZyBodHRwczovL2NvZGVwZW4uaW8vc2hzaGF3L3Blbi9YYnh2Tmo8L21ldGFkYXRhPgo8cGF0aCBzdHJva2U9IiNjMGMwYzAiIGQ9Ik0wIDBoMU0xIDFoMSIgLz4KPC9zdmc+);
    background-position: 0 0;
    background-repeat: repeat;
    background-size: 2px
}

body ::-webkit-scrollbar-button {
    background-repeat: no-repeat;
    background-size: 16px
}

body ::-webkit-scrollbar-button:single-button:vertical:decrement {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgLTAuNSAxNiAxNiIgc2hhcGUtcmVuZGVyaW5nPSJjcmlzcEVkZ2VzIj4KPG1ldGFkYXRhPk1hZGUgd2l0aCBQaXhlbHMgdG8gU3ZnIGh0dHBzOi8vY29kZXBlbi5pby9zaHNoYXcvcGVuL1hieHZOajwvbWV0YWRhdGE+CjxwYXRoIHN0cm9rZT0iIzAwMDAwMCIgZD0iTTcgNWgxTTYgNmgzTTUgN2g1TTQgOGg3IiAvPgo8L3N2Zz4=)
}

body ::-webkit-scrollbar-button:single-button:vertical:increment {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgLTAuNSAxNiAxNiIgc2hhcGUtcmVuZGVyaW5nPSJjcmlzcEVkZ2VzIj4KPG1ldGFkYXRhPk1hZGUgd2l0aCBQaXhlbHMgdG8gU3ZnIGh0dHBzOi8vY29kZXBlbi5pby9zaHNoYXcvcGVuL1hieHZOajwvbWV0YWRhdGE+CjxwYXRoIHN0cm9rZT0iIzAwMDAwMCIgZD0iTTQgNWg3TTUgNmg1TTYgN2gzTTcgOGgxIiAvPgo8L3N2Zz4=)
}

body ::-webkit-scrollbar-button:single-button:horizontal:decrement {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgLTAuNSAxNiAxNiIgc2hhcGUtcmVuZGVyaW5nPSJjcmlzcEVkZ2VzIj4KPG1ldGFkYXRhPk1hZGUgd2l0aCBQaXhlbHMgdG8gU3ZnIGh0dHBzOi8vY29kZXBlbi5pby9zaHNoYXcvcGVuL1hieHZOajwvbWV0YWRhdGE+CjxwYXRoIHN0cm9rZT0iIzAwMDAwMCIgZD0iTTggM2gxTTcgNGgyTTYgNWgzTTUgNmg0TTYgN2gzTTcgOGgyTTggOWgxIiAvPgo8L3N2Zz4=)
}

body ::-webkit-scrollbar-button:single-button:horizontal:increment {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgLTAuNSAxNiAxNiIgc2hhcGUtcmVuZGVyaW5nPSJjcmlzcEVkZ2VzIj4KPG1ldGFkYXRhPk1hZGUgd2l0aCBQaXhlbHMgdG8gU3ZnIGh0dHBzOi8vY29kZXBlbi5pby9zaHNoYXcvcGVuL1hieHZOajwvbWV0YWRhdGE+CjxwYXRoIHN0cm9rZT0iIzAwMDAwMCIgZD0iTTYgM2gxTTYgNGgyTTYgNWgzTTYgNmg0TTYgN2gzTTYgOGgyTTYgOWgxIiAvPgo8L3N2Zz4=)
}

body ::-webkit-scrollbar-corner {
    background: silver
}

fos-desktop {
    background-color: transparent
}

fos-bar {
    background-color: silver;
    box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #fff, inset -2px -2px grey, inset 2px 2px #dfdfdf
}

fos-menu[name=Start] {
    background-color: #fff;
    border: solid 1px #000;
    width: 70px;
    text-align: left
}

fos-icon {
    background-color: transparent;
    box-shadow: 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0;
    font-size: 2em
}

#mainDesktop>fos-icon>img {
    width: 100%;
    -webkit-filter: drop-shadow(5px 5px 3px rgba(0, 0, 0, .5));
    filter: drop-shadow(5px 5px 3px rgba(0, 0, 0, .5));
    image-rendering: pixelated;
    image-rendering: crisp-edges
}

#art3dicons>fos-icon>img,
#gamesIcons>fos-icon>img {
    width: 80%;
    -webkit-filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, .5));
    filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, .5));
    object-fit: contain
}

#art3dicons>fos-icon,
#gamesIcons>fos-icon {
    color: #000
}

.viewer>img {
    width: 100%
}

fos-window {
    border-color: silver;
}

fos-window::part(top) {
    background-color: #010081;
    color: #fff;
    font-weight: 700;
    line-height: 1.2em;
    position: sticky;
    top: 0;
    z-index: 999;
}

fos-window::part(buttons) {
    background-color: silver;
    font-weight: 700
}

fos-menu {
    background-color: silver
}

fos-menu-item>img {
    vertical-align: middle;
    margin-right: 10px
}

fos-menu::part(title) {
    text-align: right;
    padding-right: 10%;
    background-image: url(./sources/windowslogo.png);
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: 10% 45%;
    background-color: silver;
    line-height: 30px;
    box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #fff, inset -2px -2px grey, inset 2px 2px #dfdfdf
}

fos-menu::part(title):active {
    box-shadow: inset -1px -1px #fff, inset 1px 1px #0a0a0a, inset -2px -2px #dfdfdf, inset 2px 2px grey
}

fos-menu::part(window) {
    background-color: silver
}

.zero {
    left: 0;
    top: 0;
    width: 640px;
    height: 480px;
    max-width: 100%;
    max-height: 100%
}

.invaderz {
    left: 0;
    top: 0;
    width: 400px;
    height: 520px;
    max-width: 100%;
    max-height: 100%
}

#gamesIcons>fos-icon>img {
    width: 80%
}

#clock {
    position: absolute;
    right: 10px;
    line-height: 30px;
    border: solid 1px #000;
    width: 60px;
    text-align: center;
    box-shadow: inset -1px -1px #fff, inset 1px 1px #0a0a0a, inset -2px -2px #dfdfdf, inset 2px 2px grey
}

#helper {
    position: fixed;
    right: 15px;
    bottom: 50px;
    z-index: 1000
}

#fgbg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("sources/bg.png");
    background-blend-mode: multiply;
    z-index: 9999;
    pointer-events: none;
}

#loading {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9999999;
    background-color: #fff
}

#loading-image {
    z-index: 100;
}

@-webkit-keyframes fadeout {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fadeout {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.fadeOut {
    opacity: 0;
    -moz-animation: fadeout 1s linear;
    -webkit-animation: fadeout 1s linear;
    animation: fadeout 1s linear;
}

p, h1, h2, h3, h4, h5, h6{
    padding: 10px;
}

#Timeline * {
    margin: 0;
    padding: 0;
}

#Timeline body {
    background-color: #1d2123;
    font-family: "Inter", sans-serif;
}

#Timeline ul {
    list-style: none;
    margin: 0 !important;
}

#Timeline a {
    text-decoration: none !important;
    display: inline-block;
}

#Timeline img {
    max-width: 100%;
}

#Timeline button:focus {
    outline: none;
}

#Timeline h1,
#Timeline h2,
#Timeline h3,
#Timeline h4,
#Timeline h5,
#Timeline h6 {
    margin: 0;
}

#Timeline p {
    font-size: 14px;
    line-height: 26px;
    margin: 0;
}

#Timeline .container {
    width: 100%;
    max-width: 1140px;
    padding: 0 15px;
    box-sizing: border-box;
    margin: 0 auto;
}

#Timeline .timelines h2 {
    text-align: center;
    color: #fff;
    font-weight: 600;
    margin-bottom: 40px;
    font-size: 32px;
}

#Timeline .d-flex-2 {
    display: flex;
    align-items: center;
}

#Timeline .timeline-area {
    padding: 80px 0;
}

#Timeline .all-timelines {
    position: relative;
}

#Timeline .timelines h2 {
    text-align: center;
    color: #fff;
    font-weight: 600;
    margin-bottom: 40px;
}

#Timeline .all-timelines::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    height: 100%;
    width: 2px;
    background: #010081;
    top: 20px;
}

#Timeline .single-timeline {
    margin-bottom: 22px;
}

#Timeline .timeline-blank {
    width: 50%;
}

#Timeline .timeline-text {
    width: 50%;
    padding-left: 30px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}

#Timeline .timeline-text h6 {
    color: #000;
    font-weight: 900;
    display: inline-block;
    font-size: 1rem;
}

#Timeline .timeline-text span {
    color: #000;
    display: block;
    width: 100%;
}

#Timeline .single-timeline:nth-child(even) .timeline-text span {
    text-align: right;
}

#Timeline .t-square {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    left: -6px;
    background: #010081;
}

#Timeline .single-timeline:nth-child(even) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}

#Timeline .single-timeline:nth-child(even) .t-square {
    right: -6px;
    left: unset;
}

#Timeline .single-timeline:nth-child(even) .timeline-text {
    padding-left: 0;
    padding-right: 30px;
    text-align: right;
}

@media all and (max-width: 991px) {}

@media all and (max-width: 768px) {
    .all-timelines::before {
        right: unset;
        top: 0;
    }

    .single-timeline:nth-child(2n) .timeline-text {
        padding-left: 30px;
        padding-right: 0;
        text-align: left;
    }

    .single-timeline:nth-child(2n) .t-square {
        left: -6px;
        right: unset;
    }

    .timeline-blank {
        display: none;
    }

    .timeline-text {
        width: 100%;
    }

    .single-timeline:nth-child(even) .timeline-text span {
        text-align: left !important;
    }
}

@media all and (max-width: 575px) {}

@media all and (max-width: 360px) {
    .all-timelines::before {
        top: 32px;
    }
}

#parent{
    display: flex;
}

#child1{
    width: 100px;
}

#child2{
    flex: 1;
}

#imgproject {
    width: 100px;
    height: 100px;
    padding: 5px;
}

#nameproject {
    margin-left: 10px;
}

#descriptionproject {
    margin-left: 10px;
    font-style: italic;
}